.description_icon{
  margin-right: 16px;
  margin-left: 16px;
  width: 32px;
  height: 32px;
}
body{
  height: 100%; 
  overflow: hidden; 
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}
.image_div{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  background-image: url(HNU.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.description_text{
  word-break: break-word;
  margin-bottom: 0px;
  flex-wrap: wrap;
  line-height: 20px;
  width: 90%;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 300;
  padding-right: 16px;
}
.poster_button{
  font-family: sans-serif;
    margin-top: 8px;
    margin-left: auto;
    text-align: justify;
    color: #0059cc;
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #0059cc00;
    cursor: pointer;
    user-select: none;
}
  
.moderator_button:hover{
    background-color: #0059cc22;
}
.moderator_button{
  font-family: sans-serif;
    margin-top: 4px;
    margin-left: auto;
    color: #0059cc;
    margin-bottom: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
    border-radius: 4px;
    background-color: #0059cc00;
    cursor: pointer;
    user-select: none;
}
.main_div{
  width: 100%;
  display: flex;
  align-content: center;
  padding-bottom: 56px;
  overflow: auto; 
  position: fixed; 
    -ms-overflow-style: none;
    scrollbar-width: none;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
}
.main_div::-webkit-scrollbar {
    display: none;
}
.moderator_text{
  word-break: break-word;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  line-height: 20px;
  font-family: sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
  padding-right: 16px;
}
.poster_button:hover{
    background-color: #0059cc22;
}
.poster_button:focus{
    background-color: #0059cc33;
}
.poster_card{
  background-color: #f5f5f5;
  margin: 8px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 2px #0000004f;
}
.poster_title{
  font-family: sans-serif;
  margin-top: 16px;
  margin-bottom: 8px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 600;
}
.page_title{
  font-family: sans-serif;
  margin-top: 16px;
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-bottom: 24px;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}
.info_text{
  word-break: break-word;
  margin-bottom: 0px;
  color: #0059cc;
  flex-wrap: wrap;
  line-height: 20px;
  font-family: sans-serif;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 16px;
}
.posters_holder{
    width: 100%;
    margin: auto;
    background-color: #fff; 
    padding-right: 8px; 
    padding-left: 8px; 
    border-radius: 8px;
  }
@media (min-width: 600px){
  .posters_holder{
    width: 600px;
  }
}
@media (min-width: 426px){
  .poster_button{
    font-size: 20px;
    font-weight: 600;
  }
  .description_text{
    font-size: 16px;
  }
  .poster_title{
    font-size: 20px;
    text-align: justify;
  }
  .page_title{
    font-size: 24px;
    text-align: center;
  }
  .info_text{
    font-size: 16px;
  }

  .moderator_text{
    font-size: 20px;
  }
}